fastapi==0.115.12
Hypercorn==0.17.3
langchain==0.3.25
langchain-core==0.3.62
langchain-text-splitters==0.3.8
openai==1.82.0
pymavlink==2.4.47
python-dotenv==1.1.0
python-multipart==0.0.20
requests==2.32.3
requests-toolbelt==1.0.0
uvicorn==0.34.2